.panel-container {
  position: relative;
}

.panel-container--disabled {
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 3px);
    z-index: 100;
    background: #fff;
    opacity: .7;
    content: '';
  }
}
