.metric {
  position: absolute;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  width: 500px;
  min-height: 150px;
  background: #fff;
  z-index: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.metric__title {
  display: table;
  width: 100%;
  color: #fff;
  background-color: #01667D;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.metric__title__icon {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 10px;
  width: 45px;
  text-align: center;
  font-size: 28px;

  &:hover {
    background: rgba(0, 0, 0, 0.19);
  }
}

.metric__title__name {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  text-align: left;
  padding-left: 15px;
  width: 187px;
}

.metric__title__type {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 45px;
}

.metric__entity-name {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 95%;
  display: block;
  white-space: nowrap;
}

.metric__details {
  background: #fff;
  padding: 15px 0;
}
