.Clickable {
  position: relative;
  margin-top: 15px;
  width: 400px;
  &__box {
    background-color: #444;
    padding: 30px 0;
    text-align: center;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
  }
  &.clicked {
    .Clickable__box {
      background-color: #448;
    }
    .Toolbox {
      opacity: 1;
      pointer-events: all;
    }
  }
}
