@import '../../config';

.quadrant {
  vertical-align: top;
  min-width: 25%;
  position: relative;
  border-right: 1px solid $ui-base-border;
  flex: 0 0 auto;
}

.quadrant__title {
  color: $font-light;
  background: #888888;
  padding-top: 6px;
  font-weight: 300;
  font-size: 0.889em;
  text-align: center;
  //border-bottom: 1px solid $ui-base-border;
  border-right: 1px solid $ui-base-border;
}

.quadrant__body {
  padding: 20px;
  position: relative;
}

.quadrant__resize-handle {
  position: absolute;
  right: -3px;
  top: 0;
  bottom: 0;
  width: 5px;
  background: transparent;
  cursor: ew-resize;
  z-index: 1;
}
