.chart {
  padding: 15px 60px 10px 50px;
  overflow: hidden;
}

.chart__container {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  height: 380px;
  margin-top: -100px;
  margin-bottom: -55px;

  & > svg {
    z-index: 2;
    position: relative;

    & > g {
      z-index: 2;
      position: relative;
    }
  }

  .axis text {
    font: 10px sans-serif;
  }

  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis--x {
    position: relative;
    z-index: 5;

    .current {
      text {
        fill: #fff;
      }
    }

    path {
      display: none;
    }
  }
}

.chart__tooltip {
  position: fixed;
  text-align: center;
  width: 100px;
  padding: 2px;
  font: 12px sans-serif;
  background: #000000;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
  color: #ffffff;
  z-index: 3;
}

.chart__bar-selector {
  position: absolute;
  width: 50px;
  background: rgba(141, 223, 238, 0.25);
  pointer-events: none;
  opacity: 0.5;
  border: 2px solid #8ddfee;
  top: 0;
  z-index: 2;
}

.chart__bar-forecasted {
  opacity: 0.65;
}

.chart__x-axis {
  position: absolute;
  background: #222;
  border-radius: 10px;
  height: 15px;
  left: 50px;
  bottom: 21px;
  width: auto;
  right: 0;
  z-index: 1;
}

.chart__x-axis--over {
  background: #dededf;
  left: 9999px;
}

.chart__current-month {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #ff8000 transparent;
  position: absolute;
  bottom: 0;
  left: 9999px;
}
