.Color {
  margin-bottom: 20px;
  &__box {
    padding: 0 10px;
    &__color {
      width: 200px;
      height: 100px;
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
    }
    &__texts {
      display: inline-block;
      vertical-align: top;
      > div {
        margin-bottom: 2px;
      }
    }
  }
}
