@import '../../config';

.canvas-element {
  max-width: 80%;
  min-width: 200px;
  color: $font-base;
  position: relative;
  display: block;
  margin: 0 auto;
  background: $ui-light;
  border-radius: 4px;
  border: 2px solid $ui-base-border;
  padding: 15px 20px;

  & + & {
    margin-top: 15px;
  }
}

.canvas-element__inside {
  overflow: hidden;
  width: 100%;
  display: table;
}

.canvas-element__icon {
  text-align: center;
  padding-right: 10px;
  width: 50px;
  display: table-cell;
  vertical-align: middle;
}

.canvas-element__title {
  text-align: left;
  font-size: 17px;
  display: table-cell;
  vertical-align: middle;
}

.canvas-element__icon {
  font-size: 26px;
}

.canvas-element__port {
  position: absolute;
  top: 50%;
  transform: translateY(-50.01%);
}

.canvas-element__port--in {
  left: -12px;
}

.canvas-element__port--out {
  right: -12px;
}

.canvas-element__extra {
  margin: 0 -20px;
}
