@import '../../config';

.canvas-element {
  max-width: 100%;
  min-width: 200px;
  color: $font-light;
  position: relative;
  display: block;
  background: $ui-light;
  border-radius: 5px;
  background-color: #01667D;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 20px 0;
  transition: all .3s ease;

  &.mouse-over {
    z-index: 1;
  }

  &.editable {
    border-radius: 0;
    z-index: 15;

    .model-property:hover {
      .model-property__remove.fa {
        display: block;
      }
    }

    .hide-while-edit {
      display: none;
    }

    .editable-only {
      display: block;
    }
  }

  &.expanded {
      padding-bottom: 0;
    .expanded-only {
      display: block;
    }

    .canvas-element__extra {
      max-height: 450px;
      overflow: visible;
    }
  }

  &.wip {
    opacity: .4 !important;
    pointer-events: none !important;

    .canvas-element__extra {
      max-height: 0;
      visibility: hidden;
    }
  }

  &.highlighted {
    border-color: $ui-active;
    background: $ui-active;
  }
}

.editable-only {
  display: none;
}

.expanded-only {
  display: none;
}

.canvas-element__actions {
  text-align: right;
  background-color: $ui-light;
  padding-bottom: 10px;
}

.canvas-element__inside {
  overflow: hidden;
  width: 100%;
  display: table;
  vertical-align: middle;
}

.canvas-element__icon {
  text-align: center;
  width: 57px;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  font-size: 36px;
  padding: 5px 12px;
  &:hover {
    background: rgba(0, 0, 0, 0.19);
  }
}

.canvas-element__title {
  text-align: left;
  font-size: 1.111em;
  display: table-cell;
  vertical-align: middle;
  padding-right: 25px;
  padding-left: 10px;
  .editing {
    font-size: 17px;
    margin-left: -2px;
  }
  .canvas-element__input {
    color: #fff;
    padding: 2px 6px;
  }
  input[type=text].canvas-element__input.editable-only {
    &::selection {
      background-color: #8BD6EF;
      color: $ui-light;
    }
    &:focus {
      outline-color: #8BD6EF;
    }
  }
}

.canvas-element__port {
  position: absolute;
  margin-top: 15px;
  top: 0;
}

.canvas-element__port--in {
  left: -12px;
}

.canvas-element__port--out {
  right: -12px;
}

.canvas-element__extra {
  max-height: 0;
  overflow: hidden;
  transition: all .7s ease;
}

.canvas-element__remove {
  display: table-cell;
  vertical-align: middle;
  width: 30px;
  text-align: right;
  padding-right: 15px;
}

.canvas-element__remove__action {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.canvas-element__sub-element {
  padding-top: 10px;
  padding-bottom: 5px;
  color: $font-base;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: $ui-light;
}

.canvas-element__sub-elements {
  padding-top: 8px;
  background-color: $ui-light;

  .canvas-element {
    padding: 0 20px;
    border: none;
    width: 100%;
    min-width: 100%;

    .canvas-element__icon {
      width: 20px;
      padding-left: 10px;
      font-size: 16px;
    }
  }
}

.canvas-element__sub-elements__title {
  font-weight: 400;
  font-size: 0.833em;
  padding-left: 30px;
  color: $font-light-title;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover {
    .canvas-element__add {
      display: initial;
    }
  }
}

.canvas-element__add {
  display: none;
  float: right;
  font-size: 14px;
  cursor: pointer;
  padding: .2em .5em;
  margin-right: 1em;
  color: #8DDFEE;

  &:hover {
    color: #2E92A3;
  }
}

.canvas-element__button {
  font-size: 17px;
  margin: 1em .5em 0 .5em;
  padding: .2em .5em;
  border-radius: 5px;
  background: #fff;
  border: none;
  cursor: pointer;
  color: #8DDFEE;
  &:hover {
    color: #2E92A3;
  }
}

.canvas-element__input {
  font-size: 17px;
  width: 100%;
  color: #5B5A5A;
  background-color: #01667D;
  border: 1px solid $ui-base-border;
  padding: 2px 4px;
}

.canvas-element__input--property {
  font-size: 14px;
  background-color: $ui-light;
  border: 1px solid #ECECED;
  &:hover {
    border: 1px solid #8BD6EF;
  }
}

.canvas-element__properties {
  padding: 10px 30px 15px;
  background-color: $ui-light;
  overflow: hidden;
}

.canvas-element__properties__title {
  font-weight: 700;
  font-size: 0.833em;
  letter-spacing: 1px;
  color: $font-light-title;
  text-transform: uppercase;
}

.canvas-element__properties__table {
  display: block;
  width: 100%;
}

.canvas-element__properties__property {
  display: block;
  width: 100%;
  color: $font-base;
}

.canvas-element__properties__property-title {
  display: block;
  font-size: 0.833em;
  padding-top: 10px;
  color: $font-light-title;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.canvas-element__properties__property-value {
  display: block;
  padding-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  &:hover {
    color: #00ABFF;
  }
}

.canvas-element.Model {
  .canvas-element__properties__property-value {
    padding-left: 0;
  }
  .canvas-element__model-endpoint {
    line-height: 44px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 30px;
    border-left: 2px solid $ui-base-border;
  }
  &.editable, &.expanded {
    .canvas-element__model-endpoint {
      border-left: none;
    }
    .canvas-element__input.canvas-element__input--property, .canvas-element__span--property {
      width: 45%;
      float: left;
      margin-right: 2.5%;
    }
  }
  &.expanded {
    .canvas-element__span--property {
      margin: 0;
      padding: 2px 5px;
      border: 1px solid #ccc;
    }
  }
  .fa-plus {
    display: none;
  }
  &.editable {
    .fa-plus {
      display: initial;
    }
  }
}

.Model .canvas-element__properties__property-title {
  clear: both;
}

.Model .canvas-element__properties__property-value {
  overflow: visible;
  .model-property {
    overflow-y: visible;
  }
}
.icon-icon-minus {
  font-size: medium;
  vertical-align: -webkit-baseline-middle;
}

.clearfix {
  clear: both;
}
