@import '../../config';

.port {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid $ui-base-border;
  width: 22px;
  height: 22px;
  background: $ui-light;
  z-index: $z-index-medium;

  &.active {
    border-color: #7ed241;
  }

  &.hover {
    border-style: solid;
    border-color: $ui-dark-border;
  }
}

.port__middle {
  top: 0;
  margin-top: 0;
}

.port__inside {
  color: $font-base;
  text-align: center;
  line-height: 16px;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-left: 3px;
  margin-top: 3px;
  border-radius: 50%;
}

.port__icon {
  font-size: 14px;
}
