.Title {
  font-weight: 900;
  position: relative;
  padding: 0 10px 5px;
  margin-bottom: 15px;
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000;
  }
}
