.metric-remove-button {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  font-size: 16px;
  width: 1px;
  line-height: 0;

  &:hover {
    background: rgba(0, 0, 0, 0.19);
  }
}
