.metric-type {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  height: 28px;

  &--current,
  &:hover {
    .metric-type__circles {
      opacity: 1;
    }
  }
}

.metric-type--and {
  .metric-type__circle {
    background: transparent;
  }

  .metric-type__circle--right {
    &:before {
      border: 1px solid #fff;
      background: #4D94A4;
    }
  }
}

.metric-type--not {
  .metric-type__circle {
    background: #4D94A4;
  }

  .metric-type__circle--right {
    &:before {
      border: 1px solid #fff;
      background: #01667D;
    }
  }
}

.metric-type--or {
  .metric-type__circle {
    background: #4D94A4;
  }

  .metric-type__circle--right {
    &:before {
      background: #4D94A4;
    }
  }
}

.metric-type__circles {
  position: absolute;
  left: 50%;
  top: 0;
  width: 44px;
  height: 100%;
  margin-left: -23px;
  opacity: 0.5;
}

.metric-type__circle {
  border-radius: 50%;
  position: absolute;
  top: 0;
  width: 26px;
  height: 26px;
  border: 1px solid #fff;
  display: block;
}

.metric-type__circle--left {
  left: 0;
  border-right: 0;
}

.metric-type__circle--right {
  right: 1px;
  border-left: 0;

  &:before {
    content: '';
    border-radius: 50% / 50%;
    width: 18px;
    height: 8px;
    display: block;
    transform: rotate(90deg);
    position: absolute;
    left: -5px;
    top: 8px;
  }
}

.metric-type__name {
  z-index: 1;
  position: relative;
  display: inline-block;
  padding-top: 2px;
}
