@import '../../config';

.aside {
  position: fixed;
  left: 0;
  top: $header-height;
  width: $aside-width;
  height: 100%;
  background: $ui-base;
  border-right: 2px solid $ui-base-border;
  z-index: $z-index-medium;
}
