@import '../../../../../lunchbadger-core/src/config';

.pipeline {
  position: relative;
  font-size: 16px;
  margin-top: 0;
  border-top: 1px solid rgb(210, 210, 210);
  border-bottom: 1px solid rgb(210, 210, 210);

  .collapsed &,
  .wip & {
    position: static;

    .port {
      visibility: visible;
      bottom: 19px;
      top: auto;
    }
  }
}

.pipeline__action {
}

.pipeline__info {
  cursor: pointer;

  &:hover {
    color: #00ABFF;
  }
}

.pipeline__info--selected {
  background: #00abff;
  color: #fff;

  &:hover {
    color: #fff;
  }

  .pipeline__toggle {
    border-color: transparent transparent transparent #fff;

    &:hover {
      border-color: transparent transparent transparent #fff;
    }
  }
}

.pipeline__name {
  display: inline-block;
  width: 100%;
  padding-left: 35px;
  margin-left: -35px;
  padding-right: 30px;

  .editable & {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.pipeline__toggle {
  border-style: solid;
  border-width: 5px 0 5px 9px;
  border-color: transparent transparent transparent #034757;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 7px;
  margin-left: 18px;
  transition: all .5s ease;
  top: -1px;
  position: relative;

  &:hover {
    border-color: transparent transparent transparent #00ABFF;
  }

  .pipeline--opened & {
    transform: rotate(90deg);
  }
}

.pipeline__icon {
  display: none;
  margin-right: 7px;
}

.pipeline__details {
  max-height: 0;
  overflow: hidden;
  transition: all .7s ease;

  .pipeline--opened & {
    max-height: 300px;
    overflow: auto;

    .editable & {
      padding-bottom: 5px;
    }
  }
}

.pipeline__details__title {
  font-weight: 400;
  font-size: 14px;
  padding-left: 45px;
  padding-top: 15px;
  color: $font-light-title;
}
