@import '../../../../../lunchbadger-core/src/config';

.pipeline {
  position: relative;
  font-size: 16px;
  margin-top: 8px;
  border-top: 1px solid rgb(210, 210, 210);
  border-bottom: 1px solid rgb(210, 210, 210);

  .collapsed &,
  .wip & {
    position: static;

    .port {
      visibility: visible;
      bottom: 19px;
      top: auto;
    }
  }
}

.pipeline__info {
  cursor: pointer;
  &:hover {
    color: #00ABFF;
  }
}

.pipeline__name {
  display: inline-block;
}

.pipeline__toggle {
  border-style: solid;
  border-width: 5px 0 5px 9px;
  border-color: transparent transparent transparent #034757;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 7px;
  margin-left: 18px;
  transition: all .5s ease;
  &:hover {
    border-color: transparent transparent transparent #00ABFF;
  }
  .pipeline--opened & {
    transform: rotate(90deg);
  }
}

.pipeline__icon {
  display: none;
  margin-right: 7px;
}

.pipeline__details {
  max-height: 0;
  overflow: hidden;
  transition: all .7s ease;

  .pipeline--opened & {
    max-height: 300px;
    overflow: auto;
  }
}

.pipeline__details__title {
  font-weight: 700;
  font-size: 14px;
  padding-left: 45px;
  padding-top: 15px;
  color: $font-light-title;
}
