@import '../../../config';

.public-endpoint {
  position: relative;
  font-size: 16px;

  .collapsed & {
    position: static;

    .port {
      visibility: visible;
      bottom: 19px;
      top: auto;
    }
  }
}

.public-endpoint__info {
  cursor: pointer;
  padding-left: 18px;
}

.public-endpoint__name {
  display: inline-block;
}

.public-endpoint__icon {
  display: inline-block;
  margin-right: 7px;
}
