@import '../../config';

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  font: 300 1.125em/1.38 'Open Sans';
  color: rgb(75, 75, 75);
}

.app {
}

.app__container {
  width: 100%;
  height: calc(100vh - #{$header-height});
  padding-left: $aside-width;
}

.app__panel-wrapper {
  display: block;
  width: 100%;
  position: relative;
  min-height: 4px;
  padding-top: $header-height;
}
