.FakeEntity {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 20px 0;
  .Entity {
    margin: 0;
  }
  &__title {
    color: #444;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 900;
  }
  &__content {
    padding: 15px 15px 5px;
  }
}
