@import '../../config';

.tool {
	display: block;
	position: relative;
	width: $aside-width - 10;
	height: $aside-width - 10;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: all .5s ease-in-out;
	overflow: hidden;
	text-align: center;
	&.context {
		&:hover {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	&:hover {
		overflow: visible;
		background: lighten($ui-light, 5%);
		> .tool__tooltip {
			opacity: 1;
			transform: translateX($aside-width);
		}
		> .tool__context {
			opacity: 1;
			display: block;
		}
		> i.tool__icon {
			color: $ui-active;
		}
	}

}
i.tool__extend {
	line-height: 1em;
	position: absolute;
	bottom: 0;
	right: 0;
}
i.tool__icon {
	color: #034757;
	font-size: 30px;
	line-height: 50px;
}
i.over {
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
}
.tool__tooltip {
	position: absolute;
	display: block;
	line-height: 20px;
	background: rgba(0, 0, 0, .75);
	color: #fff;
	font-size: .8em;
	padding: .2em .8em;
	white-space: nowrap;
	opacity: 0;
	left: 0;
	border-radius: .5em;
	transform: translateX($aside-width - 10);
	transition: all .2s ease-in-out;
	top: 50%;
	margin-top: -10px;
	box-sizing: border-box;
}
.tool__context {
	display: none;
	position: relative;
	width: 200px;
	top: -56px;
	margin: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: lighten($ui-light, 5%);
	border-left: none;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
	left: $aside-width - 17;
	list-style: none;
	li {
		line-height: 50px;
		cursor: pointer;
		&:hover {
			color: $ui-active;
			i {
				color: $ui-active;
			}
		}
		i {
			float: left;
			margin-left: .5em;
		}

	}
}
.tool__context__item {
	min-width: 200px;
	position: relative;
	text-align: left;
	span {
		margin-left: 1em;
	}
}