@import '../../config';

.header {
  background: $ui-base;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: $header-height;
  border-bottom: 2px solid $ui-base-border;
  display: table;
  z-index: $z-index-high;
  padding-left: $aside-width;
}

.header__menu {
  position: absolute;
  right: 10px;
  top: 0;
}

.header__menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu__element {
  display: inline-block;
  height: $header-height;
}

.header__menu__link {
  display: block;
  font-size: 28px;
  color: $font-base;
  transition: all .3s ease;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  height: 40px;
  line-height: 40px;
  padding: 0 7px;
  border-radius: 10px;

  &:hover {
    text-decoration: none;
    color: lighten($font-base, 35%);
  }
}

.header__menu__link--pressed {
  background: darken($ui-base-border, 5%);
}
