.base-plan {
  height: 60px;

  &--expanded {
    height: 65px;
  }
}

.base-plan__tiers {
  border: 1px solid #ff8000;
  width: 100%;
  position: relative;
  background: #fff;
  color: #000;
  font-size: 16px;
  padding: 15px 20px;
}

.base-plan__add-tier {
  float: right;
  cursor: pointer;
  font-size: 16px;
}

.base-plan__tiers__caption {
  text-align: left;
  text-transform: uppercase;
  color: #ff8000;
  padding: 0;
  font-size: 15px;
}

.base-plan__tiers__table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1;
  margin-top: 2px;
  font-size: 14px;
}
