.base-creature {
  &.expanded {
    .base-creature__tiers {
      display: block;
    }
  }
}

.base-creature__tiers {
  border: 1px solid #ff8000;
  width: 80%;
  position: absolute;
  left: 1em;
  background: #fff;
  color: #000;
  display: none;
  table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1.6em;
  }
  caption {
    text-align: left;
    padding: 0 .5em;
    text-transform: uppercase;
    color: #ff8000;
  }
}
.base-creature__add-tier {
  float: right;
}
