.base-plan__icon {
  background: #ff8000;
  border: 1px solid #ff8000;
  width: 100%;
  height: 100%;
  line-height: 60px;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 30px;
  &:hover {
    background-color: #CB7B28;
    border: 1px solid #CB7B28;
  }

  &--changed {
    background: lighten(#ff8000, 20%);
    border: 1px solid #028EE2;
  }
}
