.plan-instructions {
  margin-top: 10px;
  text-align: center;
}

.plan-instructions__image {
  width: 190px;
  height: 46px;
  display: block;
  margin: 0 auto;
}

.plan-instructions__paragraph {
  font-size: 20px;
  font-weight: 300;
  line-height: 27.6px;
  color: #c1c1c1;
  margin-top: 10px;
}
