.base-plan__icon {
  background: #ff8000;
  width: 85px;
  height: 55px;
  line-height: 55px;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 30px;

  &.moved {
    background: lighten(#ff8000, 10%);
  }
}
