.plan-info-tooltip {
  display: inline-block;
}

.plan-info-tooltip__icon {
  margin-left: 10px;
  font-size: 18px;
}

.plan-info-tooltip__holder {
  position: relative;
  display: inline-block;
}

.plan-info-tooltip__paragraph {
  font-size: 15px;
  padding-bottom: 5px;
}

.plan-info-tooltip__list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 18px;
}

.plan-info-tooltip__tip {
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  opacity: 0;
  padding: 8px 21px;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.3s ease-out , margin-top 0.3s ease-out, margin-left 0.3s ease-out;
  visibility: hidden;
  z-index: 999;
  color: #fff;
  background-color: #222;
  min-width: 160px;
  width: auto;
  left: 40px;
  transform: translateY(-50%);
  margin-top: 13px;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #222 transparent transparent;
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -8px;
  }
}

.plan-info-tooltip__holder:hover {
  .plan-info-tooltip__tip {
    visibility: visible;
    opacity: 1;
  }
}
