.tier {

}

.tier__cell {
  padding: 5px 10px 4px 0;
}

.tier__action {
  padding-right: 2px;
  text-align: right;
  vertical-align: middle;
}

.tier__action__edit,
.tier__action__save,
.tier__action__remove {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  color: #ff8000;
}

.tier__action__edit,
.tier__action__save {
  margin-right: 6px;
}

.tier__row {

}

.tier__row--new {
  color: #ff8000;
}
