.upgrade-slider {
  display: table-row;
  width: 100%;

  & + & {
    .upgrade-slider__legend,
    .upgrade-slider__slider {
      padding-top: 15px;
    }
  }
}

.upgrade-slider__legend {
  width: 30%;
  text-align: left;
  padding-right: 30px;
  display: table-cell;
  vertical-align: middle;
}

.upgrade-slider__legend__value {
  font-size: 16px;
}

.upgrade-slider__legend__name {
  font-size: 13px;
  color: #666;
  padding-top: 3px;
}

.upgrade-slider__slider {
  width: 70%;
  display: table-cell;
  vertical-align: middle;
}
