.upgrade-slider {
  width: 90%;
  margin: 0 10%;
}
.upgrade-slider__legend {
  width: 50%;
  float: left;
  text-align: left;
}
.upgrade-slider__legend__users {
  font-size: 1.4em;
}
.upgrade-slider__legend__info {
  font-size: 1.4em;
  color: #999;
}
.upgrade-slider__slider {
  width: 50%;
  padding: 1em;
  float: left;
}
