@import '../../config';

.canvas {
  width: 100%;
  min-height: calc(100vh - #{$header-height});
}

.canvas__container {
  display: table;
  width: 100%;
  border-collapse: collapse;
  min-height: calc(100vh - #{$header-height});
}
