@import '../../config';

.canvas {
  min-width: 100%;
  min-height: calc(100vh - #{$header-height});
  background: $ui-dark-background;
  position: relative;
  overflow: hidden;
}

.canvas--disabled {
  pointer-events: none;
}

.canvas__wrapper {
  overflow: hidden;
}

.canvas__container {
  min-width: 100%;
  min-height: calc(100vh - #{$header-height});
  position: relative;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
}

.canvas__legend {
  position: absolute;
  left: 0;
  right: 0;
  overflow: visible;
  height: 100%;
  pointer-events: none;
  z-index: $z-index-low;
}

.canvas__label {
  position: absolute;
  top: 50%;
  color: $font-light;
  text-align: center;
  font-size: 16px;
  width: 350px;
  background: $ui-dark;
  height: 100px;
  border-radius: 50%;
  transform-origin: bottom;
  margin-top: -100px;
}

.canvas__label--left {
  left: -125px;
  padding-top: 65px;
  transform: rotate(-90deg);
}

.canvas__label--right {
  right: -125px;
  padding-top: 65px;
  transform: rotate(90deg);
}
