$header-height: 52px;
$aside-width: 60px;

// colors
$ui-base: #047C99;
$ui-base-border: #c1c1c1;
$ui-dark-background: #575757;
$ui-dark-border: #6b6969;
$ui-dark: #333333;
$ui-accept: #7A8399;
$ui-discard: #CC3414;
$ui-light: #ffffff;
$ui-active: #8DDFEE;
$font-base: #4B4B4B;
$font-light: #ffffff;
$font-light-title: #29869C;

// index
$z-index-low: 1;
$z-index-medium: 5;
$z-index-high: 10;
