$header-height: 60px;
$aside-width: 60px;

// colors
$ui-base: #dededf;
$ui-base-border: #c1c1c1;
$ui-dark-background: #575757;
$ui-dark-border: #6b6969;
$ui-dark: #333333;
$ui-light: #ffffff;
$font-base: #000000;
$font-light: #ffffff;

// index
$z-index-low: 1;
$z-index-medium: 5;
$z-index-high: 10;
