.details-panel__element {
  text-align: left;
  font-size: 14px;
}

.details-panel__details {
  overflow: auto;
  div.collapsed {
    display: none;
  }
}

.details-panel__fieldset {
  padding: 1em;
}

.details-panel__title {
  font-size: 1.2em;
  margin-top: 1em;
  cursor: pointer;
  display: inline-block;
  i {
    margin-right: .5em;
  }
  &.collapsed {
    i:before {
      content: '\f0da';
    }
  }
}

.details-panel__subtitle {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0;
}

.details-panel__label {
  color: #999;
  display: block;
  margin: .5em 0;
}

.details-panel__checkbox-label {
  margin: 0 .5em;
}

.details-panel__input {
  border-radius: 5px;
  padding: 0 1em;
  border: 1px solid #999;
  min-width: 300px;
  font-size: 1.2em;
  line-height: 2em;
  height: 40px;
}

.details-panel__select {
  -webkit-appearance: none;
  background: url('./dropdown.svg');
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.confirm-button__cancel {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 40px;
}

.confirm-button__accept {
  float: right;
  margin-right: 1em;
  opacity: 0.3;
  transition: all 0.3s ease;
  cursor: default;
}

.confirm-button__accept--enabled {
  opacity: 1;
  cursor: pointer;
}

.confirm-button__button {
  background: #00d8b2;
  font-size: 1.5em;
  padding: .2em 1em;
  border-radius: .2em;
  color: #fff;
  margin: 1em;
  display: inline-block;
  float: right;
}

.details-panel__columns {
  .details-panel__fieldset {
    width: 50%;
    float: left;
  }
}

.details-panel__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;

  th, td {
    border: 1px solid #999;
    padding: .2em .5em;
  }

  th {
    background: #ddd;
    padding: .5em .5em;
    color: #999;
    font-weight: normal;
    text-transform: uppercase;
    min-width: 100px;
  }

  .details-panel__table__cell--empty {
    border: 0;
    background: transparent;
    min-width: 0;
    width: 36px;
  }
}

.details-panel__add {
  cursor: pointer;
  background: #00d8b2;
  font-size: .9em;
  padding: .2em 1em;
  border-radius: .2em;
  color: #fff;
  display: inline-block;
  float: right;
  i {
    margin-right: .5em;
  }
}

.details-panel__table__action {
  cursor: pointer;
}

.tag {
  background: #047C99;
  color: white;
  margin: 0.2em;
  padding: 0.1em 0.5em;
  border-radius: 5px;
}
