.details-panel__element {
  text-align: left;
  font-size: 14px;
}
.details-panel__fieldset {
  padding: 1em;
}
.details-panel__title {
  font-size: 1.2em;
  margin-top: 1em;
  i {
    margin-right: .5em;
  }
}
.details-panel__label {
  display: block;
  color: #999;
  display: block;
  margin: .5em 0;
}
.details-panel__input {
  border-radius: 5px;
  padding: 0 1em;
  border: 1px solid #999;
  min-width: 300px;
  font-size: 1.2em;
  line-height: 2em;
}
.confirm-button__cancel {
  display: block;
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 40px;
}
.confirm-button__button {
  background: #00d8b2;
  font-size: 1.5em;
  padding: .2em 1em;
  border-radius: .2em;
  color: #fff;
  margin: 1em;
  display: inline-block;
  float: right;
}
.details-panel__columns {
  .details-panel__fieldset {
    width: 50%;
    float: left;
  }
}
