.api-forecast {
  position: absolute;
  right: 1em;
  top: 1em;
  border: 1px solid #000;
  width: 350px;
  height: 300px;
  background: #fff;
  z-index: 0;

  .expanded-only {
    display: none;
    width: 50%;
    position: relative;
  }

  &.expanded {
    position: static;
    width: 100%;
    height: 100%;
    min-height: 350px;
    z-index: 2;
    left: 0;
    top: 0;

    .expanded-only {
      display: block;
    }
  }
}
.api-forecast__header {
  color: #fff;
  background: #fd7775;
  height: 30px;
  line-height: 30px;
}
.api-forecast__header__nav {
  list-style: none;
  float: right;
  li {
    float: right;
    margin: .2em;
  }
}

.api-forecast__creature-plans {
  list-style: none;
  position: relative;
  z-index: 2;
  min-height: 250px;
  li {
    margin: 1em;
    float: left;
    &.first-of-type {
      margin-right: 2em;
    }
  }
}
