.api-forecast {
  position: absolute;
  right: 1em;
  top: 1em;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  width: 600px;
  min-height: 350px;
  background: #fff;
  z-index: 0;

  &:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  .expanded-only {
    display: none;
    width: 50%;
    position: relative;
    float: left;
  }

  &.expanded {
    box-shadow: none;
    position: static;
    width: calc(100% + 60px);
    height: 100%;
    min-height: 350px;
    z-index: 2;
    left: 0;
    top: 0;
    margin: -35px -100px -30px -30px;

    .api-forecast__details {
      float: left;
      width: 50%;
    }

    .expanded-only {
      display: block;
    }
  }
}
.api-forecast__header {
  color: #fff;
  background: #8dad45;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
}

.api-forecast__header__nav {
  list-style: none;
  position: absolute;
  top: -3px;
  right: 20px;

  li {
    float: right;
    margin: .2em;
  }
}

.api-forecast__details {
  width: 100%;
}

.api-forecast__plans {
  list-style: none;
  position: relative;
  z-index: 2;
  min-height: 150px;
  padding-left: 2em;
  padding-bottom: 30px;
}
