.api-forecast {
  position: absolute;
  right: 1em;
  top: 1em;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  width: 600px;
  min-height: 350px;
  background: #fff;
  z-index: 0;
  transform-origin: left top;

  &:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  .expanded-only {
    display: none;
    width: 50%;
    position: relative;
    float: left;
    padding-right: 30px;
  }

  &.expanded {
    box-shadow: none;
    position: relative;
    width: calc(100% + 30px);
    min-height: 350px;
    z-index: 2;
    left: 0 !important;
    top: 0 !important;
    margin: -15px -15px 0 -15px;
    transform: scale(1) !important;

    .api-forecast__details {
      float: left;
      width: 50%;
    }

    .expanded-only {
      display: block;
    }

    &:before {
      content: '';
      left: 50%;
      top: 80px;
      bottom: 30px;
      width: 1px;
      background: #ccc;
      position: absolute;
    }
    .panel__handle {
      display: none;
    }
  }
}
.api-forecast__header {
  color: #3F596C;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
}

.api-forecast__header__nav {
  list-style: none;
  position: absolute;
  top: -3px;
  right: 20px;

  li {
    float: right;
    margin: .2em;
  }
}

.api-forecast__details {
  width: 100%;
}

.api-forecast__plans {
  list-style: none;
  position: relative;
  z-index: 2;
  min-height: 150px;
  padding-left: 2em;
  padding-bottom: 30px;
}

.api-forecast__header__title {
  position: absolute;
  left: 30px;
  font-size: 18px;
  top: 0;
  display: block;
  max-width: 150px;
  text-align: left;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;

  .expanded & {
    max-width: 100%;
    font-size: 20px;
  }
}

.api-forecast__header__subtitle {
  font-size: 16px;
  padding-left: 10px;
  display: none;

  .expanded & {
    display: inline-block;
  }
}
